/*
Made by Namz & Someone with no name
Twitter: https://twitter.com/notnamz
Github: https://github.com/namzop
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.fore-black{
  color:black;
}
.black-background{
  background-color:black;
  color:white;
}
.fore-green{
  color:green;
}
.green-background{
  background:green;
}
.fore-lightgreen{
  color:lightgreen;
}
.lightgreen-background{
  background-color: lightgreen;
}
.center-text{
  text-align:center;
}
.fore-gray{
  color:gray;
}
.gray-background{
  background-color:gray;
}
.green{
  color:green;
}
.black{
  color:black;
}
.blue{
  color:blue;
}
.lightblue{
  color:lightblue;
}
.lime{
  color:lime;
}
.center{
  text-align:center;
}
.pink{
  color:pink;
}
.yellow{
  color:yellow;
}
.yellowgreen{
  color:yellowgreen;
}
.pink-background{
  background-color:pink;
}
.helvetica{
  font-family: Helvetica;
}
.poppins{
  font-family:'Poppins';
}
.lobster{
  font-family:'Lobster';
}
.lobster-2{
  font-family:'Lobster Two';
}
.yusei-magic{
  font-family:'Yusei Magic';
}
.potta-one{
  font-family: 'Potta One';
}
.hachi-maru{
  font-family: 'Hachi Maru Pop';
}
.coda-caption{
  font-family:'Coda Caption';
}
.hanalei{
  font-family:'Hanalei';
}
.teko{
  font-family:'Teko';
}
.sriracha{
  font-family: 'Sriracha';
}
.source-code{
  font-family:'Source Code Pro';
}
.indie-flower{
  font-family:'Indie Flower'
}
.pacifico{
  font-family: 'Pacifico';
}
.satisfy{
  font-family:'Satisfy';
}
.no-decoration{
  text-decoration: none;
}
.white-background{
  background-color:white;
}

/*This man forgot a button smh */
.buttonc {
    transition-duration: 500ms;
    background-color: rgb(21, 255, 0);
    color: rgb(20, 109, 8);
    border-radius: 12px;
    padding: 20px ;
}
.buttonc:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(21, 255, 0);
    cursor: pointer;
    align-items: center;
}
/*And fade in SMH */
.fade-in {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}