<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://namzop.github.io/css-library/library/library.css">
    <title>Register</title>
  </head>
  <body>
    <h1 class="center poppins">Register for Vanity Url!</h1>
    <center>
    <form action="{{ url_for("createforthem")}}" method="post" class="hehe">
      <label for="name"></label>
      <input style="margin-top: 20px;" type="text" id="name" name="name" placeholder="Name" required>
      <label for="url"></label>
      <input style="margin-top: 20px;" type="text" id="url" name="url" placeholder="Url" required>
      <label for ="key"></label>
      <input style="margin-top:20px;" type='text' id="token" name="token" placeholder="Token" required>
      <button style="margin-top:20px; background-color:yellowgreen;border-width:0px;" type="submit">Submit</button>

      <p class="poppins center"> Want to get the token? Check for a function in the code and call that function in console!</p>
    </center>
  </body>
  <style>
    body{
      background-color: black;
      color:white;
    }
    .hehe{
      /* background-color:yellowgreen; */
      border-color:yellowgreen;

    }
  </style>
  <script>
    function create(){
      console.log("POST on /hehe, remember you only have 1 request per day so be careful!")
    }
  </script>
</html>
