<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="DSC Bot">
    <meta name="description" content="Vanity URL for Discord Bots!">
    <meta name="og:title" content="DSC Bot">
    <meta name="og:description" content="Vanity URL for Discord Bots!">
    <title>Discord Bot Vanity URL</title>
</head>
<body>
    <h1 class="poppins center"> Vanity Url for Discord Bot </h1>
    <style>
        @import url('https://namzop.github.io/css-library/library/library.css');
        body{
            background-color:black;
            color:white;
        }
    </style>
</body>
</html>
